footer .text-small {
  display: none;
}

.btn.btn-blue {
  margin-top: 1rem;
}

.navigation-list-item:first-child {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #44434d;
}
